{%load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Prototipação Rapida{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    
</head>
<body id="{% block body-id %}body{% endblock body-id %}">
    {% block top-nav-wrapper %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Default Template</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item  {% if slug == 'index'%}active{% endif %}" >
                        <a class="nav-link" href="/">
                            <i class="fa fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item  {% if slug == 'contact'%}active{% endif %}" >
                        <a class="nav-link" href="{% url 'page' 'contact' %}"> Contato</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item  {% if slug == 'login'%}active{% endif %}" >
                        <a class="nav-link" href="{% url 'page' 'login' %}">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock top-nav-wrapper %}
    {% block content %}{% endblock content %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
